
@{
    ViewBag.Title = "FormText";
}
<button id="ApiPost" class="btn btn-success">提交</button>
<button id="ApiDelete" class="btn btn-primary">刪除</button>
<script>
    document.getElementById("ApiPost").onclick = function () {

        location.href = '@Url.Action("Getpostdata","Home")';
    }
    document.getElementById("ApiDelete").onclick = function () {

        location.href = '@Url.Action("DeleteData","Home")';
    }


</script>
